html {
  margin: 0;
  padding: 0;
}
body {
  margin: 20px;
  font-size: x-small;
  /* width: 60%; */
  /* text-align: center; */
  font-family:'Courier New';
}
canvas {
  margin: auto;
  top: 100px;
  left: 0;
  position: absolute;
  z-index: -1;
}
