html, body {
  margin: 0;
  padding: 0;
}

body {
  margin: 50px auto 0 auto;
  width: 80%;
  text-align: center;
  font-family: "courier", monospace;
}

canvas {
margin: auto;
top: 320px;
left: 0;
position: absolute;
}